/* @import "bootstrap"; */
:root {
  --background: #3a3f47;
  --textcolor: #ffd36a;
  --bgAccent: #ffd36a;

  /* todolist/button design */
  --widthtodolist: 300px;
  --mb-width-todolist: 200px;
  --bgTodo: #232932;
  --checkcolor: #6abd65;
  --todoButtonColor: #d9d9d9;
  --cancelcolor: #ff4141;
  --bgidcolor: #ffd36a;

  /* Pomodoro window design */
  --widthPomodoro: 300px;
  --mb-width-Pomodoro: 200px;
  --bgPomodoro: #232932;
  --bgPomodoroAccent: #ffd36a;
  --textPomodoro: #eeeeee;
  --textbackground: #3a3f47;

  /* content/center */
  --bgcontent: #d9d9d9;
  --textcontent: #ffd36a;
  --bgaccentcontent: #ffd36a;
}
/* testing purposes */
.bg-test {
  background-color: #6abd65;
}
