@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

label {
  color: white;
  display: flex;
  justify-content: flex-start;
  padding-left: 10px;
}

input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 12px 30px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffd36a;
  height: 100vh;
}

.login-box {
  width: 500px;
  height: 380px;
  text-align: center;
  border-radius: 10px;
  background-color: #232932;
  box-shadow: 0px 16px 23px -11px rgba(0, 0, 0, 0.75);
}

.login-box > h1 {
  border-radius: 10px;
  font-size: 40px;
  text-align: center;
  font-style: italic;
  color: #ffd36a;
  background-color: #3a3f47;
  padding: 10px;
}

.login-buttons {
  display: flex;
  gap: 30px;
  justify-content: center;
  margin-top: 15px;
}

.Login {
  background-color: #807351;
  color: white;
  font-weight: bold;
  padding: 10px 50px;
  border: none;
  cursor: pointer;
  border-radius: 30px;
}

.Register {
  background-color: #d9d9d9;
  color: #807351;
  font-weight: bold;
  padding: 10px 45px;
  border: none;
  cursor: pointer;
  border-radius: 30px;
}

.Login:hover {
  background-color: rgb(128, 115, 81, 0.8);
}

.Register:hover {
  background-color: rgb(217, 217, 217, 0.8);
}

.login-container {
  padding: 20px 35px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.containerinput {
  border-radius: 12px;
}

span.psw {
  float: right;
  padding-top: 16px;
}

/* Change styles for span and cancel button on extra small screens */
@media only screen and (max-width: 300px) and (max-height: 500px) {
  span.psw {
    display: block;
    float: none;
  }
}
