@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

label {
  color: white;
}

input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #FFD36A;
}

.login-box {
  width: 100vh;
  height: 100vh;
  text-align: center;
  background-color: #232932;
}

.login-box > h1 {
  font-size: 100px;
  text-align: center;
  font-style: italic;
  color: #FFD36A;
  background-color: #3A3F47;
}

.login {
  background-color: #807351;
  color: white;
  font-weight: bold;
  padding: 14px 20px;
  margin: 8px 5px;
  border: none;
  cursor: pointer;
  width: 40%;
  border-radius: 12px;
}

.register {
  background-color: #D9D9D9;
  color: #807351;
  font-weight: bold;
  padding: 14px 20px;
  margin: 8px 5px;
  border: none;
  cursor: pointer;
  width: 40%;
  border-radius: 12px;
}

button:hover {
  opacity: 0.8;
}

.container {
  padding: 16px;
}

.containerinput {
  border-radius: 12px;
}

span.psw {
  float: right;
  padding-top: 16px;
}

/* Change styles for span and cancel button on extra small screens */
@media only screen and (max-width: 300px) and (max-height: 500px) {
  span.psw {
     display: block;
     float: none;
  }
}