/* @import "Config.css"; */
.nav {
  background-color: var(--background);
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--textcolor);
  padding: 20px 25px 10px 20px !important;
  font-family: "Inria Sans", sans-serif;
  letter-spacing: 1px;
  box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.30);
  z-index: 1;
}

.nav button {
  color: #ffffff;
  font-size: 22px;
}
