/* @import "Config.css"; */

button {
  border: none;
  background-color: transparent;
  margin: 0;
  padding: 0;
}

.c-checkcolor {
  color: var(--checkcolor);
}
.c-cancelcolor {
  color: var(--cancelcolor);
}

.bg-buttoncolor {
  background-color: var(--todoButtonColor);
}

.bg-Accent {
  background: var(--bgAccent);
}
.bg-todolist {
  background: var(--bgTodo);
}
.bg-idcolor {
  background-color: var(--bgidcolor);
}

.height {
  height: 450px;
}

.team {
  background-color: #232932;
  color: white;
  height: 300px;
}

.team .team-header {
  color: #232932;
  background-color: #ffd36a;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.team-name {
  background-color: #68b963;
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 10px;
}

.online {
  display: flex;
  gap: 5px;
} 

.team-members {
}

.member {
  background-color: #d9d9d9;
  padding-left: 10px;
  height: 30px;
  display: flex;
  align-items: center;
  box-shadow: 0px 8px 12px -6px rgba(0,0,0,0.75);
}