/* @import "Config.css"; */

button {
  border: none;
  background-color: transparent;
  margin: 0;
  padding: 0;
}

.c-checkcolor {
  color: var(--checkcolor);
}
.c-cancelcolor {
  color: var(--cancelcolor);
}

.bg-buttoncolor {
  background-color: var(--todoButtonColor);
}

.bg-Accent {
  background: var(--bgAccent);
}
.bg-todolist {
  background: var(--bgTodo);
}

.bg-idcolor {
  background-color: var(--bgidcolor);
}

.height {
  height: 450px;
}

.todo-input {
  width: 100%;
  padding-left: 5px;
  font-size: 14px;
}


.todo-input > button {
  background-color: var(--bgaccentcontent);
  border-radius: 5px;
  cursor: pointer;
}

.status-button {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.status-button > button {
  margin: 5px 0 5px;
  border-radius: 5px;
}

.tasks {
  background-color: var(--todoButtonColor);
  display: flex;
  justify-content: space-between;
  padding: 5px;
}

.number {
  display: flex;
  align-self: center;
  background-color: var(--bgidcolor);
  padding: 0 5px;
  font-weight: bold;
}