@import "../../css/Config.scss";
.nav{
    background-color: $background;
    display: flex;
    color: $textcolor;
    padding: 20px 0px 10px 20px!important;
    font-family: "Inria Sans", sans-serif;
    letter-spacing: 1px;
}
