@import "../../css/Config.scss";

.bg-pomodoro{
    background-color: $bgPomodoro !important;
}
.text-pomodoro{
    color: $textPomodoro;
}
.border-pomodoro{
    border-radius: 10px;
    
}
.bg-pomodoroaccent{
    background-color: $bgPomodoroAccent !important;
}
.text-shadow-sm{
    text-shadow: 2px 2px 4px #00000050;
}
.flex-basis-300px{
    flex-basis: 300px;
}
.w-pomodoro{
    width: $widthPomodoro;
}