/* height */
.h {
  &-maxp {
    height: 100%;
  }
  &-maxvh {
    height: 100vh;
  }
  &-90p {
    height: 90%;
  }
  &-98p {
    height: 98%;
  }
  &-90vh {
    height: 90vh;
  }
}
.flex-basis-auto {
  flex-basis: auto;
}
